/*
Autor= Guillermo Daniel Cruz Ortega
Fecha creacion= 24/03/2022
Fecha actualizacion= 24/03/2022
Descripcion= Documento de estilo css para el index
*/
/*
#EEC170 MOSTAZA
#F2EADC BLANCO
#FFAE6A NARANJA
#F2D2B3 CREMA
*/
.header{
    color: #ffffff;
    padding: 15px;
    font-family: Helvetica;
    width: 680px;
    margin: 0 auto;
    text-align: center;
}
.bodys{
    aling: center;
}
.footer{
    background: #E6B68B;
    text-align: center;
    font-family: 'Zen Dots', sans-serif;
    font-size: 0.9w;
    padding: 15px;
    color: #ffffff;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #E6B68B;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#menu li>a{
    background-color: #97572B;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}
#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
#menu>li{
    float: left;
    text-align:center
}
#menu>li>ul{
    display: none;
}
#menu>li:hover>ul {
    display:block;
}
h1.principal{
    font-family: "Sans-serif";
}
section.forma{
    width: 70%;
    margin: auto;
    padding: 0px 10px;
    background-color: #000;
}
section.forma_registro{
    width: 70%;
    margin: auto;
    padding: 0px 10px;
    background-color: #F2D2B3;
}
/*Estilo tabla*/
section.forma_tabla{
    width: 70%;
    margin: auto;
    padding: 0px 10px;
    background-color: #FFAE6A;
}
table tr:hover {
    background: #F2EADC;
    cursur: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #F2EADC;
}
/*Esctilo Button*/
.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #EEC170;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9x #999;
}

.button:hover {
    background-color: #FFAE6A;
}

.button:active {
    background-color: #F2EADC;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}